.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  --text-color: #242424;
  --text-color-hover: #fff;
  --link-color: #242424;
  --main-bg-color: #e5e5e5;
  --hover-bg-color: #242424;
  --active-bg-color: #242424;
  --border-color: #242424;
  --border-color-black: #000;
  --slide-bg-color: #fff;
  --preview-bg-color: #B7C09D;
  --btn-image: url(../../../images/arrow.svg);
  --btn-image-hover: url(../../../images/arrow-white.svg);
  --link-image: url(../../../images/arrow.svg);
  --link-image-hover: url(../../../images/arrow-white.svg);
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}