.projects__link {
  width: 120px;
  height: 32px;
  margin: 32px 0 0 30px;
  padding: 3px 0 0 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  grid-column: 1 / 3;
  position: relative;
  transition: color .2s ease .1s;
}

.projects__link:before {
  transform: rotate(180deg);

}