@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
  }
  to {
    box-shadow: 0 0 0 2px rgba(0,0,0,1);
  }
}

.social__link {
  min-width: 53px;
  min-height: 25px;
  padding: 0;
  margin: 0;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.14;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-right: none;
  border-top:none;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.social__link:active {
  animation-name: pulse;
  animation-timing-function: linear; 
  animation-iteration-count: 1;
  animation-duration: 0.4s; 
}

.social__link:hover {
  color: white;
}

.social__link::after {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  z-index: -1;
}

.social__link:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.55s; 
}