.header__elipse_right {
  background-image: url("../../../../images/Ellipse-right.svg");
}

.header__elipse_right_ {
  background-image: url("../../../../images/Ellipse-right.svg");
  margin-left: -2px;
}