.header {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 11px;
  min-width: 1440px;
  min-height: 35px;
  border-bottom: 1px solid #242424;
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
}