.preview__link {
  padding: 16px;
  border-top: 1px solid var(--border-color);
  position: relative;
  z-index: 1;
}

.preview__link:before {
  top: 16px;
  right: 16px;
  transform: rotate(-45deg);
}