.header__link {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
}

.header__link:hover .header__elipse {
  opacity: 1;
}