.header__link {
  min-height: 25px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
}

.header__link:hover:before {
  content: '';
  background-image: url(../../../images/Ellipse-left.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
}

.header__link:hover:after {
  content: '';
  background-image: url(../../../images/Ellipse-right.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}