.footer__link {
  text-decoration: none;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color);
}

.footer__link:hover {
  text-decoration: underline;
}