.switcher__dot {
  width: 6px;
  height: 6px;
  display: block;
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 50%;
  appearance: none;
}

.switcher__dot:checked {
  width: 8px;
  height: 8px;
  background-color: var(--active-bg-color);
}