.lead__link {
  margin-top: 16px;
  padding: 16px;
  width: 240px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid var(--border-color-black);
  position: relative;
  transition: color .2s ease .1s;
}

.lead__link:before {
  top: 15px;
  right: 10px;
  background-position: 85% 50%;
}