.lead__link {
  margin-top: 16px;
  padding: 16px;
  width: 240px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #000;
  position: relative;
  transition: color .2s ease .1s;
}

.lead__link:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 10px;
  background: transparent url(../../../images/arrow.svg) no-repeat 85% 50%;
}

.lead__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #242424;
  transition: width .4s ease;
  z-index: -1;
}

.lead__link:hover {
  color: #fff;
}

.lead__link:hover:before {
  background: url(../../../images/arrow-white.svg);
  transition: background .2s ease .2s;
}

.lead__link:hover:after {
  width: 100%;
}

.lead__link:active {
  border-color: #242424;
}

.lead__link:active:after {
  transform: scale(1.1);
}