.slider-btn_type_previous {
  margin-left: 30px;
  transform: rotate(45deg);
}

.slider-btn_type_previous:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: transparent url(../../../images/arrow-left.svg) no-repeat center;
  transform: rotate(-45deg);
}

.slider-btn_type_previous:hover {
  transition: border-right-color .1s ease-in-out .0s,
              border-top-color .1s ease-in-out .1s,
              background-color .1s ease-in-out .2s;
  border-top-color: #242424;
  border-right-color: #242424;
  background-color: #242424;
}

.slider-btn_type_previous:hover:after {
  transition: background-image .1s ease-in-out .2s;
  background-image: url(../../../images/arrow-left-white.svg);
}