.slider-btn_type_previous {
  transform: rotate(45deg);
}

.slider-btn_type_previous:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: transparent url(../../../images/arrow-left.svg) no-repeat center;
  transform: rotate(-45deg);
}

.slider-btn_type_previous:hover {
  transition: border-right-color .1s ease-in-out .0s,
              border-top-color .1s ease-in-out .1s,
              background-color .1s ease-in-out .2s;
  border-top-color: var(--border-color);
  border-right-color: var(--border-color);
  background-color: var(--hover-bg-color);
}

.slider-btn_type_previous:hover:after {
  transition: background-image .1s ease-in-out .2s;
  background-image: url(../../../images/arrow-left-white.svg);
}

.slider-btn_type_previous:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.slider-btn_type_previous:active:before {
  background-color: var(--active-bg-color);
  transform: scale(1.1);
}