.slider-btn_type_next {
  margin-left: 20px;
  transform: rotate(-135deg);
}

.slider-btn_type_next:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: transparent var(--btn-image) no-repeat center;
  transform: rotate(135deg);
}

.slider-btn_type_next:hover {
  transition: border-top-color .1s ease-in-out .0s,
              border-right-color .1s ease-in-out .1s,
              background-color .1s ease-in-out .2s;
  border-top-color: var(--border-color);
  border-right-color: var(--border-color);
  background-color: var(--hover-bg-color);
}

.slider-btn_type_next:hover:after {
  transition: background-image .1s ease-in-out .2s;
  background-image: var(--btn-image-hover);
}

.slider-btn_type_next:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.slider-btn_type_next:active:before {
  background-color: var(--active-bg-color);
  transform: scale(1.1);
}