@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/text-block/text-block.css);
@import url(../blocks/text-block/_placed/text-block_placed_center.css);
@import url(../blocks/text-block/_placed/text-block_placed_slider-title.css);
@import url(../blocks/text-block/_placed/text-block_placed_feedback.css);
@import url(../blocks/text-block/__title/text-block__title.css);
@import url(../blocks/text-block/__title/_font-size/_l/text-block__title_font-size_l.css);
@import url(../blocks/text-block/__title/_font-size/_s/text-block__title_font-size_s.css);
@import url(../blocks/text-block/__title-item/text-block__title-item.css);
@import url(../blocks/text-block/__subtitle/text-block__subtitle.css);
@import url(../blocks/text-block/__subtitle/_placed/text-block__subtitle_placed_lead.css);
@import url(../blocks/text-block/__text/text-block__text.css);
@import url(../blocks/text-block/__text/_placed/text-block__text_placed_brief.css);
@import url(../blocks/text-block/__text/_placed/text-block__text_placed_authors.css);
@import url(../blocks/text-block/__desc/text-block__desc.css);
@import url(../blocks/text-block/__desc/_font-size/_s/text-block__desc_font-size_s.css);
@import url(../blocks/text-block/__desc/_margin_size/_l/text-block__desc_margin_size_l.css);
@import url(../blocks/text-block/__desc/_margin_size/_s/text-block__desc_margin_size_s.css);
@import url(../blocks/text-block/__desc-items/text-block__desc-items.css);
@import url(../blocks/text-block/__link/text-block__link.css);
@import url(../blocks/text-block/__caption/text-block__caption.css);
@import url(../blocks/text-block/__caption/_margin_size/text-block__caption_margin_size_l.css);

@import url(../blocks/link/link.css);

@import url(../blocks/preview/preview.css);
@import url(../blocks/preview/__container/preview__container.css);
@import url(../blocks/preview/__title/preview__title.css);
@import url(../blocks/preview/__items/preview__items.css);
@import url(../blocks/preview/__link/preview__link.css);
@import url(../blocks/preview/__link/_rotate/preview__link_rotate_arrow.css);

@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__link/projects__link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__link/lead__link.css);
@import url(../blocks/lead/__text-block/lead__text-block.css);
@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/authors/__desc/authors__desc.css);
@import url(../blocks/authors/__list/authors__list.css);
@import url(../blocks/authors/__text-block/authors__text-block.css);

@import url(../blocks/brief/__iframe/brief__iframe.css);

@import url(../blocks/slider-navigation/slider-navigation.css);
@import url(../blocks/switcher/switcher.css);
@import url(../blocks/switcher/__dot/switcher__dot.css);
@import url(../blocks/switcher/_placed/switcher_placed_slider-navigation.css);
@import url(../blocks/slider-btn/slider-btn.css);
@import url(../blocks/slider-btn/_type/slider-btn_type_next.css);
@import url(../blocks/slider-btn/_type/slider-btn_type_previous.css);
@import url(../blocks/slider/slider.css);
@import url(../blocks/slide/slide.css);
@import url(../blocks/slider/_placed/slider_placed_feedback.css);
@import url(../blocks/slide/_placed/slide_placed_feedback.css);

@import url(../blocks/feedback/feedback.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__partners__label/footer__partners-label.css);
@import url(../blocks/footer/__partners-list/footer__partners-list.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__contacts-address/footer__contacts-address.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__contacts-place/footer__contacts-place.css);
@import url(../blocks/footer/__navbar/footer__navbar.css);
@import url(../blocks/footer/__navbar-links/footer__navbar-links.css);
@import url(../blocks/footer/__navbar-links-item/footer__navbar-links-item.css);
@import url(../blocks/footer/__grid/footer__grid.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);
@import url(../blocks/footer/__design/footer__design.css);
@import url(../blocks/footer/__copyrights-logo/footer__copyrights-logo.css);
@import url(../blocks/footer/__design-text/footer__design-text.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__devs/footer__devs.css);
@import url(../blocks/footer/__partner-logo/footer__partner-logo.css);
