@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__partners__label/footer__partners-label.css);
@import url(../blocks/footer/__partners-list/footer__partners-list.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__contacts-address/footer__contacts-address.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__contacts-place/footer__contacts-place.css);
@import url(../blocks/footer/__navbar/footer__navbar.css);
@import url(../blocks/footer/__navbar-links/footer__navbar-links.css);
@import url(../blocks/footer/__navbar-links-item/footer__navbar-links-item.css);
@import url(../blocks/footer/__grid/footer__grid.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);
@import url(../blocks/footer/__design/footer__design.css);
@import url(../blocks/footer/__copyrights-logo/footer__copyrights-logo.css);
@import url(../blocks/footer/__design-text/footer__design-text.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__devs/footer__devs.css);
@import url(../blocks/footer/__partner-logo/footer__partner-logo.css);




