.footer__contacts-address {
  max-width: 231px;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color);
  margin: 16px 0 0 0;
}